*~
*.o
*.so
*.a
*.core
*.gmon
.pure
TAGS
Makefiles/os/target
perl/Makefile
perl/xstmp.c
perl/pm_to_blib
perl/blib
perl/NASTD.bs
perl/NASTD.c
server/nastd
tests/getnast
tests/killnast
tests/randnast
tests/statnast
tests/stressnast
tests/mtstressnast
tests/updnast
